.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.underline {
    text-decoration: underline;
}

.highlight {
    background-color: chocolate;
}

.red-text {
    color: red;
}
